@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-group">
    <label for="exampleInputEmail1">Endereço de email que está vinculado a sua conta</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="UserEmail" aria-describedby="emailHelp" placeholder="Enter email" required>

    <a class="btn btn-secondary" asp-controller="User" asp-action="UpdateView">Buscar dados</a>
</div>