@{
    ViewData["Title"] = "Members";
}

<div>
    <h1>Integrantes do grupo</h1>

    <p>Alef Gabriel RM:99847</p>
    <p>Danilo Araujo Mendonça RM:99752</p>
    <p>Felipe Sieiro RM:98249</p>
    <p>Leonardo Lizier RM:551509</p>
    <p>Rodrigo Gonçalves RM:99838</p>

    <a class="btn btn-primary" asp-controller="User" asp-action="DeleteView">Excluir minha conta</a>
    <a class="btn btn-secondary" asp-controller="User" asp-action="DataUpdateView">Atualizar meus dados</a>
</div>